/* global styles */

body{
    font: 15px/1.5 'Noto Sans TC', sans-serif;
    font-weight: 500;
    background-color:#E6E6E6;
    padding:0;
    margin:0;
  }

  .container{
    width: 85%;
    margin: auto;
    overflow:hidden;
  }

  h3 {
      color: #DFB607;
  }

  small {
      color: red;
      margin: 0;
  }

  a {
      text-decoration: none;
  }
  ul{
      list-style: none;
  }

  button{
    padding: 5px;
    background: white;
    color: #0B0B61;
    cursor: pointer;
}
hr {
    color: #0B0B61;
}

/* header styles */

  header {
      background-color: #0B0B61;
      border-bottom: 3px solid  #DFB607; 
      padding: 2px 5px 2px 5px;
  }


  header button{
      color:  #DFB607;
      background-color: #0B0B61;
      border-color:  #DFB607;
  }


 

  header a{
    color:  #DFB607;
  }
  
  .site-logo{
      float: left;
  }

  .site-logo a{
      font-family: 'Black Han Sans', sans-serif; 
      padding: 0;
  }

  
 .site-logo h1{
     display: inline-block;
 }

 .account{
     float: right;
     margin-top: 30px;
 }

 .account a {
     padding: 5px;
     margin: 7px;
     font-weight: bold;
     background: #0B3861;
     border-radius: 5px;
 }

 .account a:hover{
     color: #0B0B61;
     background-color: white;
 }

 .account .user {
     padding-right: 30px;
     display: inline-block;
 }
 .account #user-icon {
     color: #DFB607;
     cursor: pointer;
 }

 .account #account-menu {
     position: absolute;
     background: white;
     font-size: 14px;
     margin: 0;
     text-align: center;
     padding: 0;
     z-index: 1000;
     display: none;
     border-radius: 7px;
     font-weight: bold;
     box-shadow: 2px 2px 5px #888888;
 }

 .account #account-menu.display-menu {
     display: block;
 }

 .account #account-menu li {
     padding: 10px;
     cursor: pointer;
     text-decoration: underline;
 }
 .account #account-menu a{
    font-size: 14px;
    background: white;
    margin: 0;
    padding: 0;
    border-radius: 0;
    color: #0B0B61;
    text-decoration: underline;
}

/* navigation styles */

nav{
    box-shadow: 2px 2px 5px #888888; 
    background-color: white;
    margin-bottom: 10px;
    max-height: 34px;
    overflow: hidden;
}

#nav-bar {
    color: #0B0B61;
    margin-left: 10px;
    display: none;
    cursor: pointer;
    font-size: 23px;
}


nav #nav-contents{
    float: left;
}


nav a {
   padding: 5px 10px 5px 10px;
   display: table-cell;
   color: #0B0B61;
   font-weight: bold;
}

nav a:hover{
    background-color: #DFB607; 
}

nav #book{
    float: right;
}


/* sections styles */

#showcase{
    margin-bottom: 30px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
}


#showcase ul{
    width: 200%;
    margin: 0;
    padding: 0;
}

#showcase #container1 {
    background: linear-gradient( rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.61) ), url('../images/packages.jpg') 0;
    text-align: center;
    background-size: cover;
    float: left;
    width: 50%;
    transition: 1s;
}

.sliding {
    margin-left: -50%;
}

#selling-point{
   color: white;
   font-size: 40px;
   padding: 70px;
   font-weight: bold;
}

#selling-point a{
    color:  #DFB607;
    text-decoration: underline;
}

#showcase #container2 {
    background: linear-gradient( rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.692) ), url('../images/lagos.jpeg') 0;
    text-align: center;
    float: left;
    width:50%;
    background-size: cover;
}


#info{
    margin-bottom: 20px;
}


#info #happy-customer {
    background: url('../images/Delivery.jpg') 0;
    width: 50%;
    height: 320px;
    background-size: cover;
    float: left;
    border: 1px solid #D8D8D8;
}

#info #selling-point2 {
    width: 49%;
    float: right;
    padding: 40px;
    box-sizing: border-box; 
    font-size: 17px;
    background: #0B0B61;  
    color: white; 
    min-height: 320px;
    max-height: 500px;
}

#info2 #fast-icon {
    background: url('../images/rocket.jpg') 0;
    width: 49%;
    background-size: cover;
    height:320px;
    float: right;
}

#info2 #selling-point3 {
    padding:  40px;
    background: white;
    width: 50%;
    box-sizing: border-box; 
    font-size: 17px;
    min-height: 320px;
    max-height: 500px;
    border: 2px solid rgba(230, 230, 230, 0.76); 
}

#info2 a, #how-it-works a {
    color:  #DFB607;
    text-decoration: underline;
}

#how-it-works{
    background-color: white;
    padding: 20px;
    margin-bottom: 60px;
    max-height: 500px;
    border: 2px solid #E6E6E6;
}


/* footer styles */

footer {
    background: #0B0B61;
    border-top: 2px solid  #DFB607;
    color:  white;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

footer #phone{
padding: 10px;
float: left;
}
footer #mail{
    padding: 10px;
    float: right;  
}


/* form styles */

.forms{
    margin: 50px 0 80px 0;
}


.forms-bk {
    margin: 50px 0 30px 0;
}

.form-container{
    width: 550px;
    margin: auto;
    background: white;
    padding: 20px 0 20px 0;
}
form {
    width: 75%;
    margin: auto;
    color: #0B0B61;
}
form h3{
    color : #0B0B61;
}


form input, select{
    width: 90%;
    display: block;
    margin: 0 0 40px 0;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #BDBDBD;
    border-radius: 5px;

}
option:hover {
  background: #0B0B61;  
}

form input:focus, select:focus {
    outline-color: #0B0B61;
    -moz-outline-radius: 5px;
}

form button{
    font-size: 1rem;
    padding: 10px;
    background: #0B0B61;
    color: white;
    margin-top: 40px;
    display: block;
}


form a{
    color: #0B0B61;
    text-decoration: underline;
}

fieldset {
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#confirm-order {
    margin: 10% auto;
    width: 50%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    height: 450px;
    border-radius: 10px;  
}

#confirm-order ul {
    padding: 0 20px 0 20px;
}

#confirm-order li{
    padding-bottom: 15px;
    text-align: center;
}

#about{
    
    margin-bottom: 40px;
} 

#about #about-sec {
    background: white;
    padding: 30px;
}

#about li {
    margin: 0;
}

#about ul {
    padding: 5px;
}

#profile {
    margin-top: 30px;
    
}

#profile #tabs{
width: 98%;
margin: auto;
color:  #0B0B61;
border-top: 3px solid #D8D8D8;
box-shadow: 2px 35px 10px 10px #D8D8D8;
}

#profile ul {
    margin: 0;
    padding-left: 0;
}
#profile #head {
    background:white;
    padding: 0px;
    border-bottom: 2px solid #0B0B61;
}

#profile #head li {
    display: inline-block;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    margin: 0;
    background: #E6E6E6;
    cursor: pointer;
}

#profile #head .highlight {
    background: #0B0B61;
    color: white;
}

#profile #body {
    background: white;
    margin-top: 0;
    padding: 10px 30px 80px 30px;
}

#profile #body ul {
    margin: auto;
}

#profile #body .info {
    margin: auto;
}

#profile #body .unfulfilled ul,
#profile #body .delivered ul {
    background: #F2F2F2;
    color: #0B0B61;
    margin: 0 auto 20px auto;
    padding: 0;
}

#profile #body li{
padding: 10px;
}

#profile #body button, #confirm-order button{
    padding: 5px 10px 5px 10px;
    color: white;
    background: #0B0B61;
    border-radius: 7px;
    margin-right: 10px;
    display: inline-block;
}

.grid-container, .title-container {
    display: grid; 
    grid-template-columns: 12% 12% 12% 15% 15% 12% 10% 12%;
    background: white;
}

.grid-container {
    border-bottom: 5px solid white;
    background: #F2F2F2;
}
.title-container {
    background: #0B0B61;
    color: white;
    
}    

.grid-item, .title-grid-item {
    padding: 1px;
    text-align: center;
}

#button button{
    background-color: #0B0B61;
    color: white;
    border-radius: 10px;
}

#admin {
background: white;
}

#admin-edit{
    padding: 10px;
    margin-bottom: 90px;
}
#admin-edit ul {
    padding: 0;
    border-bottom: 1px solid #0B0B61;
}


#orders-in-transit ul {
    padding: 0;
    
}

#orders-in-transit ul li{
    margin-bottom: 30px;
}

#fulfilled-orders {
    padding: 0;
    color:green; 
}

#services-section{
    background: white;
    padding: 30px;
    margin-bottom: 60px;
}




/* style modifications for varying screen sizes */

@media(max-width: 900px){
    body{
        font-size: 14px;
    }
    .container{
        width: 96%;
    }

    .site-logo a{
        display: block;
        font-size: 9px;
    } 

    .site-logo h1{
      margin-bottom: 0;
    }

    .site-logo #fast-reliable{
        display: block;
        margin: 0;
        font-size: 11px;
    }
    
    #nav-contents {
        display: block;
        position: absolute;
        z-index: 1000;
        box-shadow: 2px 2px 2px #888888;
        left: -100%;
        width: 250px;
        height: 100%;
        transition: 500ms;
        border-top: 2px solid #D8D8D8;
        background-color: #F2F2F2;
    }

    #nav-bar {
        display: inline-block;
    }

    nav .container{
        width:100%;
    }
   #nav-contents.responsive-nav {
       left: 0;
   }

    #nav-contents a{
        display: block;
        background-color: #F2F2F2;
        padding: 20px;
        font-size: 13px;
    }

    #nav-contents.responsive-nav a:active{
        background-color:  #DFB607;
    }

    nav #book a{
        font-size: 13px;
        padding-left: 10px;
    }

    
    #showcase{
        margin-bottom: 30px;
    }

    #showcase .container {
        width: 100%;
    }
    

    #selling-point {
        font-size: 25px;
        padding: 30px;
    }

    .account{
        margin-top: 15px;
    }
   
    #info {
        margin-bottom: 30px;
    }
    #info #happy-customer, #info2 #fast-icon {
        width: 100%;
        float: none;
        height: 250px;
    }
    
    #info #selling-point2, #info2 #selling-point3 {
        width: 100%;
        float: none;
        padding: 20px;
        font-size: 15px;
        min-height: 0; 
        margin-top: 0;
    }

    #services, 
    article, 
    
    #profile #tabs{
        width: 100%;
    }

    #profile #head li {
        display: inline-block;
        padding: 10px;
    }

    #profile #body {
        padding: 10px 10px 80px 10px;
    }

    #profile #body ul {
        display: inline-block;
        margin: auto;
    }
    
    #profile #body .unfulfilled ul,
    #profile #body .delivered ul {
    width: 100%;
    }

    #services-section {
        padding: 10px;
    }

    #about #about-sec {
        padding: 10px;
    }

    #admin-edit {
        font-size: 70%;
    }

   
#admin-edit ul{
    padding: 0;
    width: 100%;
    margin-left: 0;
    margin-right:0;
}

#admin .container{
    width: 100%;
}
    #button button{
        font-size:50%;
    }

    footer #phone, footer #mail {
        float: none;
    } 

}


@media(max-width: 500px) {
    .account .user {
        margin-top: 0;
        padding-top: 0;
        padding-right: 22px;
        display: inline-block;
    }

    .account #account-menu, .account #account-menu a {
        font-size: 13px;   
    }

    nav {
        box-sizing: border-box;
    }

    #confirm-order {
        width: 90%;
    }

    .form-container{
        width: 95%;
        margin: auto;
        padding: 20px;
    }


    form{
        width: 100%;
    }


    form input {
        width: 80%;
        margin-bottom: 40px;
        padding: 15px;
        font-size: 1rem;
        border: 1px solid #BDBDBD;
        border-radius: 5px;
    
    }

    #admin-edit {
        font-size: 50%
    }

    #button button{
        font-size: 30%;
    }

    footer{
        font-size: 80%;
    }


}


@media(max-width: 380px) {
    body{
        font-size: 13px;
    }
    #profile #head li {
        padding: 7px 2px 7px 2px;
    }
}